
.colorPrincipal{
    background-color: plum;
}
.btn-primary{
    background-color: plum;
    border-color: plum
}

.btn-primary:hover{
    background-color: plum;
    border-color: plum;
}

 .fondo{
    background-image: url("../logoo.jpg");
    background-position: top center;
    background-size: cover;
    padding: 25%;
    background-attachment: fixed;
 }
  .fondo2{
    background-image: url("../logo2.jpg");
    background-position: top center;
    background-size: cover;
    padding: 25%;
    background-attachment: fixed;
  }